#wrap {
  background: url(../images/common/bg.svg) no-repeat 50%/cover;
  width: 100%;
  height: 100vh; }

#btnMenu {
  position: fixed;
  width: 230px;
  height: 314px;
  bottom: 25px;
  left: 80px;
  z-index: 600; }
  #btnMenu a {
    display: block;
    font-family: Rubik;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    text-align: center;
    width: 192px;
    height: 54px;
    background: no-repeat 50% / cover; }
  #btnMenu a:hover, #btnMenu a:focus {
    color: #FFCE00; }
  #btnMenu a + a {
    margin-top: 5px; }
  #btnMenu .prev {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
    background-image: url("../images/common/btn_prevpage.svg");
    width: 208px; }
    #btnMenu .prev p {
      padding-left: 10px; }
  #btnMenu .current {
    background-image: url("../images/common/btn_currentpage.svg");
    color: #FFCE00; }
  #btnMenu .next {
    background-image: url("../images/common/btn_nextpage.svg"); }
    #btnMenu .next p {
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      transform: rotate(-3deg); }
  #btnMenu .all_menu {
    background-image: url("../images/common/btn_allmenu.svg"); }

.home {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  z-index: 500;
  top: 7%;
  left: 5%;
  font-size: 25px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */ }
  .home, .home span {
    border-radius: 50%;
    background: rgba(251, 229, 25, 0.8);
    box-shadow: 0px 0px 1px 0 rgba(251, 229, 25, 0.7) inset, 0px 0px 27px 20px rgba(251, 229, 25, 0.7); }
  .home span {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center; }

.speech_bubble {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  width: 1000px;
  height: 283px;
  margin: 70px auto;
  text-align: center;
  background: url("../images/common/speechBubble.png") no-repeat 50%; }
  .speech_bubble::after {
    -webkit-animation: move_down 1.5s infinite forwards;
    -moz-animation: move_down 1.5s infinite forwards;
    animation: move_down 1.5s infinite forwards;
    content: "";
    position: absolute;
    width: 66px;
    height: 37px;
    bottom: 9px;
    left: 48%;
    background: url("../images/common/ico_down.svg"); }

.moveani {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .moveani .cloud1, .moveani .cloud2, .moveani .cloud3 {
    -webkit-animation: move_cloud linear 60s infinite;
    -moz-animation: move_cloud linear 60s infinite;
    animation: move_cloud linear 60s infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat 50% / cover; }
    .moveani .cloud1::before, .moveani .cloud2::before, .moveani .cloud3::before {
      content: "";
      position: absolute; }
  .moveani .cloud3 {
    -webkit-animation: move_cloud_back linear 80s infinite;
    -moz-animation: move_cloud_back linear 80s infinite;
    animation: move_cloud_back linear 80s infinite; }
  .moveani .cloud1::before {
    top: 5%;
    left: 0;
    width: 374px;
    height: 106px;
    background-image: url("../images/common/cloud1.svg"); }
  .moveani .cloud2 {
    -webkit-animation-duration: 85s;
    -moz-animation-duration: 85s;
    animation-duration: 85s; }
    .moveani .cloud2::before {
      top: 19%;
      width: 531px;
      height: 107px;
      background-image: url("../images/common/cloud2.svg"); }
  .moveani .cloud3::before {
    transform: scale(0.7);
    top: 32%;
    right: 0;
    width: 447px;
    height: 127px;
    opacity: 0.5;
    background-image: url("../images/common/cloud3.svg"); }

.click {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  display: block;
  width: 130px;
  height: 48px;
  background: url("../images/common/btn_click.svg") no-repeat 50%;
  font-size: 25px;
  text-align: center; }
  .click:hover, .click:focus {
    background-image: url("../images/common/btn_click_hover.svg"); }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background: url(../images/common/bg.svg) no-repeat 50%/cover;
  width: 100%;
  height: 100vh; }

.skill {
  position: relative;
  width: 100%;
  height: 1100vh; }

.tree_wrap {
  position: relative;
  height: 100%; }

.tree_wrap .intro, .tree_wrap .seed, .tree_wrap .sprout, .tree_wrap .small_tree, .tree_wrap .big_tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s; }
.tree_wrap .soil {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 140px;
  left: 50%;
  width: 272px;
  height: 59px;
  background: no-repeat 50% / cover; }
.tree_wrap .soil.grass {
  background-image: url("../images/skill/grass.svg");
  width: 772px;
  height: 166px;
  bottom: 60px; }
.tree_wrap .grow {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  background: no-repeat 50% / cover; }
.tree_wrap .water {
  position: absolute;
  width: 561px;
  height: 489px;
  top: 30%; }
  .tree_wrap .water .can {
    position: absolute;
    width: 298px;
    height: 262px;
    top: 0;
    background: url("../images/skill/wateringCan.svg"); }
  .tree_wrap .water .drop {
    position: absolute;
    width: 150px;
    height: 70%; }
  .tree_wrap .water .drop1, .tree_wrap .water .drop2 {
    -webkit-animation: move_water 2.5s infinite forwards;
    -moz-animation: move_water 2.5s infinite forwards;
    animation: move_water 2.5s infinite forwards;
    position: absolute;
    background: no-repeat 50%;
    width: 60px;
    height: 70px; }
  .tree_wrap .water .drop1 {
    background-image: url("../images/skill/waterdrop.svg");
    position: absolute;
    bottom: 33%;
    left: 50%; }
    .tree_wrap .water .drop1::before, .tree_wrap .water .drop1::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 70px;
      background: url("../images/skill/waterdrop.svg") no-repeat 50%; }
    .tree_wrap .water .drop1::before {
      -webkit-transform: scale(0.8) rotate(10deg);
      -moz-transform: scale(0.8) rotate(10deg);
      transform: scale(0.8) rotate(10deg);
      bottom: -55px;
      left: -34px; }
    .tree_wrap .water .drop1::after {
      -webkit-transform: scale(0.7) rotate(-27deg);
      -moz-transform: scale(0.7) rotate(-27deg);
      transform: scale(0.7) rotate(-27deg);
      bottom: -68px;
      right: -14px; }
  .tree_wrap .water .drop2 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background-image: url("../images/skill/waterdrop2.svg");
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
    position: absolute;
    bottom: 0;
    left: 51%; }
    .tree_wrap .water .drop2::before {
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      transform: rotate(-5deg);
      content: "";
      position: absolute;
      width: 60px;
      height: 70px;
      bottom: 8px;
      left: -40px;
      background: url("../images/skill/waterdrop3.svg") no-repeat 50%; }
.tree_wrap .water.right {
  left: 40%; }
  .tree_wrap .water.right .can {
    right: 0; }
  .tree_wrap .water.right .drop {
    bottom: 117px;
    left: 22%; }
.tree_wrap .water.left {
  left: 25%; }
  .tree_wrap .water.left .can {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    left: 0; }
  .tree_wrap .water.left .drop {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    transform: rotate(-40deg);
    left: 38%;
    bottom: 80px; }
.tree_wrap .seed .plant {
  position: absolute;
  width: 44px;
  height: 59px;
  background: url(../images/skill/seed.svg);
  z-index: 300; }
  .tree_wrap .seed .plant.plant1 {
    bottom: 300px;
    left: 50%; }
  .tree_wrap .seed .plant.plant2 {
    bottom: 183px;
    left: 49%; }
  .tree_wrap .seed .plant.plant3 {
    bottom: 163px;
    left: 51%; }
  .tree_wrap .seed .plant.plant1::before, .tree_wrap .seed .plant.plant1::after, .tree_wrap .seed .plant.plant2::before, .tree_wrap .seed .plant.plant2::after, .tree_wrap .seed .plant.plant3::before, .tree_wrap .seed .plant.plant3::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 59px;
    background: url(../images/skill/seed.svg); }
  .tree_wrap .seed .plant.plant1::before, .tree_wrap .seed .plant.plant2::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    right: -44px;
    top: -50%; }
  .tree_wrap .seed .plant.plant1::after, .tree_wrap .seed .plant.plant2::after {
    right: -22px;
    top: -93px; }
  .tree_wrap .seed .plant.plant3::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    left: -35px;
    top: 0; }
  .tree_wrap .seed .plant.plant3::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -70px;
    top: 0; }
.tree_wrap .seed .soil {
  background-image: url("../images/skill/soil.svg"); }
.tree_wrap .sprout .grow {
  bottom: 185px;
  left: 50%; }
  .tree_wrap .sprout .grow.grow1 {
    background-image: url("../images/skill/grow1.svg");
    width: 91px;
    height: 107px; }
  .tree_wrap .sprout .grow.grow2 {
    background-image: url("../images/skill/grow2.svg");
    width: 93px;
    height: 197px; }
.tree_wrap .sprout .soil {
  background-image: url("../images/skill/soil2.svg"); }
.tree_wrap .small_tree .grow {
  bottom: 120px;
  left: 50%;
  z-index: 100; }
  .tree_wrap .small_tree .grow.grow3 {
    background-image: url("../images/skill/smalltree.svg");
    width: 204px;
    height: 265px; }
  .tree_wrap .small_tree .grow.grow4 {
    background-image: url("../images/skill/smalltree2.svg");
    width: 351px;
    height: 477px; }
.tree_wrap .small_tree .water {
  z-index: 100; }
.tree_wrap .big_tree {
  z-index: 0; }
  .tree_wrap .big_tree .grow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    bottom: 80px;
    left: 50%;
    z-index: 100; }
    .tree_wrap .big_tree .grow.grow5 {
      background-image: url("../images/skill/bigtree.svg");
      width: 781px;
      height: 857px; }
    .tree_wrap .big_tree .grow .apple, .tree_wrap .big_tree .grow .orange {
      position: relative;
      width: 50%; }
      .tree_wrap .big_tree .grow .apple > div, .tree_wrap .big_tree .grow .orange > div {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-animation: swing_apple cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate;
        -moz-animation: swing_apple cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate;
        animation: swing_apple cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate;
        position: absolute;
        background: no-repeat;
        padding-top: 27px;
        font-family: Rubik;
        font-weight: 600;
        line-height: 1;
        text-align: center; }
      .tree_wrap .big_tree .grow .apple .apple1, .tree_wrap .big_tree .grow .apple .apple2, .tree_wrap .big_tree .grow .apple .apple3, .tree_wrap .big_tree .grow .apple .orange1, .tree_wrap .big_tree .grow .apple .orange2, .tree_wrap .big_tree .grow .apple .orange3, .tree_wrap .big_tree .grow .orange .apple1, .tree_wrap .big_tree .grow .orange .apple2, .tree_wrap .big_tree .grow .orange .apple3, .tree_wrap .big_tree .grow .orange .orange1, .tree_wrap .big_tree .grow .orange .orange2, .tree_wrap .big_tree .grow .orange .orange3 {
        -webkit-animation-duration: 1.3s;
        -moz-animation-duration: 1.3s;
        animation-duration: 1.3s; }
      .tree_wrap .big_tree .grow .apple .apple4, .tree_wrap .big_tree .grow .apple .apple5, .tree_wrap .big_tree .grow .apple .orange4, .tree_wrap .big_tree .grow .apple .orange5, .tree_wrap .big_tree .grow .orange .apple4, .tree_wrap .big_tree .grow .orange .apple5, .tree_wrap .big_tree .grow .orange .orange4, .tree_wrap .big_tree .grow .orange .orange5 {
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        animation-duration: 1.5s; }
    .tree_wrap .big_tree .grow .apple > div {
      width: 125px;
      height: 173px;
      background-image: url("../images/skill/apple.svg");
      color: #fff; }
    .tree_wrap .big_tree .grow .apple .apple1 {
      top: 23%;
      left: 10%; }
    .tree_wrap .big_tree .grow .apple .apple2 {
      top: 50%;
      left: 0; }
    .tree_wrap .big_tree .grow .apple .apple3 {
      bottom: 10%;
      right: 20%; }
    .tree_wrap .big_tree .grow .apple .apple4 {
      top: 40%;
      right: 15%; }
    .tree_wrap .big_tree .grow .apple .apple5 {
      top: 0;
      right: 10%; }
    .tree_wrap .big_tree .grow .orange > div {
      width: 134px;
      height: 185px;
      background-image: url("../images/skill/orange.svg");
      color: #473c3c; }
    .tree_wrap .big_tree .grow .orange .orange1 {
      top: 32%;
      right: -10%; }
    .tree_wrap .big_tree .grow .orange .orange2 {
      top: 0;
      left: 0; }
    .tree_wrap .big_tree .grow .orange .orange3 {
      top: 36%;
      left: 24%; }
    .tree_wrap .big_tree .grow .orange .orange4 {
      bottom: 17%;
      right: 25%; }
    .tree_wrap .big_tree .grow .orange .orange5 {
      top: 11%;
      right: 23%; }
  .tree_wrap .big_tree .soil.grass {
    bottom: 20px; }
  .tree_wrap .big_tree .speech_bubble {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    top: 59%;
    right: -30%;
    z-index: 200;
    font-size: 39px; }
    .tree_wrap .big_tree .speech_bubble::after {
      bottom: 3px; }
.tree_wrap .last .speech_bubble::after {
  display: none; }

.tree_wrap > div.on {
  opacity: 1; }

.moveani {
  z-index: 0; }

#cnt_contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%; }
  #cnt_contact::before {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "";
    position: absolute;
    z-index: 0;
    top: 59%;
    left: 51%;
    width: 294px;
    height: 602px;
    background: url("../images/contact/stick.svg") no-repeat 50%/cover; }
  #cnt_contact .board {
    position: relative;
    z-index: 100;
    width: 630px;
    height: 358px;
    background: url("../images/contact/board.svg") no-repeat 50%/cover; }
  #cnt_contact p {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    z-index: 200;
    top: 36%;
    left: 50%;
    text-align: center;
    color: #fff; }
    #cnt_contact p .txt_yellow {
      color: #FFCE00; }
  #cnt_contact .click {
    position: absolute;
    z-index: 300;
    bottom: 38%;
    padding-top: 5px; }

#dim, #modal {
  position: fixed;
  z-index: 1000; }

#dim {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

#modal {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 1411px;
  height: 677px;
  perspective: 2000px; }
  #modal .bg, #modal .back {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: url("../images/contact/board_big.svg");
    height: 100%;
    opacity: 0; }
  #modal .bg.on, #modal .back.on {
    -webkit-animation: rotateY 1s 1 forwards;
    -moz-animation: rotateY 1s 1 forwards;
    animation: rotateY 1s 1 forwards;
    opacity: 1; }
  #modal .bg {
    position: relative;
    z-index: 950;
    backface-visibility: hidden; }
  #modal .back {
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
    width: 1411px;
    height: 677px; }
  #modal .photo_frame {
    width: 280px;
    height: 287px;
    margin-left: 153px;
    border: 10px solid #000;
    border-radius: 30px;
    overflow: hidden; }
    #modal .photo_frame .photo {
      background: url("../images/contact/me2.jpg") no-repeat 50%/cover;
      width: 300px;
      height: 300px; }
  #modal .address {
    padding-left: 75px;
    color: #fff;
    font-size: 50px; }
    #modal .address p {
      position: relative; }
      #modal .address p::before {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        left: -50px;
        background: #7e725c;
        border-radius: 50%; }
    #modal .address p + p {
      margin-top: 100px; }
    #modal .address a {
      font-family: Rubik;
      font-weight: 600;
      transition: all 0.3s; }
    #modal .address a:hover, #modal .address a:focus {
      color: #FFCE00; }
  #modal .md_btn_close {
    position: absolute;
    top: 8%;
    right: 4%;
    width: 80px;
    height: 80px;
    background: #7e725c;
    border-radius: 50%; }
    #modal .md_btn_close::before, #modal .md_btn_close::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 11px;
      width: 60px;
      height: 8px;
      background: #fff;
      border-radius: 23px;
      transition: transform 1s; }
    #modal .md_btn_close::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg); }
    #modal .md_btn_close::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    #modal .md_btn_close:hover::before, #modal .md_btn_close:focus::before {
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      transform: rotate(225deg); }
    #modal .md_btn_close:hover::after, #modal .md_btn_close:focus::after {
      -webkit-transform: rotate(-225deg);
      -moz-transform: rotate(-225deg);
      transform: rotate(-225deg); }

.project {
  overflow: hidden; }
  .project .speech_bubble::after {
    display: none; }
  .project .wrap_project {
    position: relative;
    z-index: 100;
    width: 1035px;
    height: 370px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center; }
  .project .twosome, .project .ikea {
    position: relative; }
    .project .twosome::before, .project .twosome::after, .project .ikea::before, .project .ikea::after {
      content: "";
      position: absolute;
      top: -33%;
      z-index: 1;
      width: 139px;
      height: 170px; }
    .project .twosome .fruit, .project .twosome .basket, .project .twosome .board, .project .ikea .fruit, .project .ikea .basket, .project .ikea .board {
      background: no-repeat 50% / cover; }
    .project .twosome .fruit, .project .ikea .fruit {
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 25px;
      font-family: Rubik;
      font-weight: 600; }
      .project .twosome .fruit .apple, .project .twosome .fruit .orange, .project .ikea .fruit .apple, .project .ikea .fruit .orange {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-animation: fruit_move cubic-bezier(0.74, 0.01, 0.5, 1.35) 4s infinite forwards;
        -moz-animation: fruit_move cubic-bezier(0.74, 0.01, 0.5, 1.35) 4s infinite forwards;
        animation: fruit_move cubic-bezier(0.74, 0.01, 0.5, 1.35) 4s infinite forwards;
        position: absolute;
        top: -106px;
        background: no-repeat 50% / cover;
        width: 139px;
        height: 170px;
        text-align: center; }
@-webkit-keyframes fruit_move {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0); } }
@-moz-keyframes fruit_move {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0); } }
@keyframes fruit_move {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0); } }
      .project .twosome .fruit .apple, .project .ikea .fruit .apple {
        background-image: url("../images/project/apple.svg");
        color: #fff; }
      .project .twosome .fruit .apple.apple1, .project .ikea .fruit .apple.apple1 {
        left: 35%;
        z-index: 5; }
      .project .twosome .fruit .orange, .project .ikea .fruit .orange {
        background-image: url("../images/project/orange.svg");
        color: #473c3c; }
    .project .twosome .basket, .project .ikea .basket {
      position: relative;
      z-index: 100;
      background-image: url("../images/project/basket.svg");
      width: 465px;
      height: 218px; }
    .project .twosome .board, .project .ikea .board {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      z-index: 200;
      top: 9%;
      left: 50%;
      text-align: center;
      background-image: url("../images/project/board.svg");
      width: 295px;
      height: 156px; }
      .project .twosome .board .txt_project, .project .ikea .board .txt_project {
        position: relative;
        color: #fff;
        margin-top: 18px; }
        .project .twosome .board .txt_project::before, .project .twosome .board .txt_project::after, .project .ikea .board .txt_project::before, .project .ikea .board .txt_project::after {
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          position: absolute;
          top: 50%;
          width: 19px;
          height: 19px;
          background: #7e725c;
          border-radius: 50%; }
        .project .twosome .board .txt_project::before, .project .ikea .board .txt_project::before {
          left: 5%; }
        .project .twosome .board .txt_project::after, .project .ikea .board .txt_project::after {
          right: 5%; }
      .project .twosome .board .click, .project .ikea .board .click {
        margin: 0 auto; }
  .project .twosome::before {
    left: 20%;
    background: url("../images/project/orange.svg"); }
  .project .twosome::after {
    right: 14%;
    background: url("../images/project/apple.svg"); }
  .project .twosome .fruit .apple.apple2 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    left: 0; }
  .project .twosome .fruit .orange {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    right: 0; }
  .project .ikea::before {
    left: 16%;
    background: url("../images/project/darkapple.svg"); }
  .project .ikea::after {
    right: 19%;
    background: url("../images/project/darkapple.svg"); }
  .project .ikea .fruit .apple1 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s; }
  .project .ikea .fruit .apple.apple2 {
    right: 0; }
  .project .ikea .fruit .orange {
    left: 0; }

.beauty {
  height: 600vh; }
  .beauty .mountain, .beauty .pond, .beauty .me, .beauty .dog {
    position: absolute;
    background: no-repeat 50% / cover; }
  .beauty .me {
    bottom: 9%;
    left: 41%;
    width: 193px;
    height: 453px; }
  .beauty .mountain {
    background-image: url("../images/beauty/mountain.svg");
    width: 710px;
    height: 358px;
    top: 18%;
    left: 10%; }
  .beauty .pond {
    background-image: url("../images/beauty/pond.svg");
    width: 460px;
    height: 317px;
    top: 59%;
    left: 16%; }
  .beauty .dog {
    background-image: url("../images/beauty/bog.svg");
    width: 225px;
    height: 147px;
    bottom: 11%;
    right: 34%; }
    .beauty .dog::before {
      content: "";
      position: absolute;
      top: -49%;
      right: 16%;
      background: url("../images/beauty/dog_tail.svg");
      width: 73px;
      height: 84px; }
  .beauty .cnt .txtbox {
    position: absolute;
    z-index: 100;
    top: 5%;
    right: 5%;
    background: rgba(255, 251, 226, 0.78);
    border-radius: 205px;
    width: 537px;
    height: 865px;
    text-align: center;
    padding: 106px 20px 106px 20px;
    box-sizing: border-box; }
  .beauty .cnt .txt_big {
    font-size: 40px; }
  .beauty .cnt .txt_yellow {
    color: #eb981b; }
  .beauty .cnt .hart {
    -webkit-animation: hart infinite forwards;
    -moz-animation: hart infinite forwards;
    animation: hart infinite forwards;
    position: absolute;
    background: url("../images/beauty/hart.svg") no-repeat 50%/cover;
    width: 48px;
    height: 50px;
    opacity: 0; }
  .beauty .cnt .hart.hart1 {
    animation-duration: 5s;
    animation-delay: 2s;
    top: -16%;
    left: 42%; }
  .beauty .cnt .hart.hart2 {
    animation-duration: 3s;
    animation-delay: 4s;
    -webkit-transform: scale(0.6) rotate(-15deg);
    -moz-transform: scale(0.6) rotate(-15deg);
    transform: scale(0.6) rotate(-15deg);
    top: -26%;
    left: 39%;
    opacity: 0.7; }
  .beauty .cnt .hart.hart3 {
    animation-duration: 2s;
    animation-delay: 6s;
    -webkit-transform: scale(0.4) rotate(15deg);
    -moz-transform: scale(0.4) rotate(15deg);
    transform: scale(0.4) rotate(15deg);
    top: -34%;
    left: 40%;
    opacity: 0.5; }
  .beauty .cnt_beauty {
    position: relative;
    height: 100%; }
  .beauty .cnt_beauty > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s; }
  .beauty .cnt_beauty > div.on {
    opacity: 1; }
  .beauty .cnt1 .me {
    background-image: url("../images/beauty/front_me.svg");
    width: 244px;
    height: 457px; }
    .beauty .cnt1 .me::before, .beauty .cnt1 .me:after {
      content: "";
      position: absolute;
      background: no-repeat 50% / cover;
      width: 80px;
      height: 99px; }
    .beauty .cnt1 .me::before {
      -webkit-animation: swing_hand_left cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
      -moz-animation: swing_hand_left cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
      animation: swing_hand_left cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
      background-image: url("../images/beauty/front_hand_left.svg");
      left: -16%;
      top: 30.5%; }
    .beauty .cnt1 .me:after {
      -webkit-animation: swing_hand_right cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
      -moz-animation: swing_hand_right cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
      animation: swing_hand_right cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
      background-image: url("../images/beauty/front_hand_right.svg");
      right: -12%;
      top: 31%; }
    .beauty .cnt1 .me .arm {
      position: relative;
      height: 100%; }
      .beauty .cnt1 .me .arm::before, .beauty .cnt1 .me .arm:after {
        content: "";
        position: absolute;
        background: no-repeat 50% / cover;
        width: 62px;
        height: 38px;
        top: 45%; }
      .beauty .cnt1 .me .arm::before {
        -webkit-animation: swing_arm_left cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
        -moz-animation: swing_arm_left cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
        animation: swing_arm_left cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
        background-image: url("../images/beauty/arm_left.svg");
        left: 4%; }
      .beauty .cnt1 .me .arm::after {
        -webkit-animation: swing_arm_right cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
        -moz-animation: swing_arm_right cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
        animation: swing_arm_right cubic-bezier(0.4, 0, 1, 1) 1s infinite alternate;
        background-image: url("../images/beauty/arm_right.svg");
        right: 10%; }
    .beauty .cnt1 .me .mouse {
      position: absolute;
      -webkit-animation: mouse 3s infinite;
      -moz-animation: mouse 3s infinite;
      animation: mouse 3s infinite; }
    .beauty .cnt1 .me .wink {
      position: absolute;
      -webkit-animation: wink 3s infinite;
      -moz-animation: wink 3s infinite;
      animation: wink 3s infinite; }
  .beauty .cnt2 .me {
    background-image: url("../images/beauty/side_me.svg");
    width: 193px;
    height: 453px; }
    .beauty .cnt2 .me::before {
      -webkit-animation: swing_side_hand 1s infinite alternate;
      -moz-animation: swing_side_hand 1s infinite alternate;
      animation: swing_side_hand 1s infinite alternate;
      content: "";
      position: absolute;
      z-index: -1;
      top: 38%;
      left: -15%;
      background: url("../images/beauty/side_hand.svg");
      width: 137px;
      height: 106px; }
    .beauty .cnt2 .me .wink {
      position: absolute;
      top: 0%;
      left: 16%;
      -webkit-animation: wink 3s infinite;
      -moz-animation: wink 3s infinite;
      animation: wink 3s infinite; }
  .beauty .cnt3 .me {
    background-image: url("../images/beauty/back_me.svg");
    width: 228px;
    height: 417px; }
    .beauty .cnt3 .me::before {
      -webkit-animation: swing_side_hand 1s infinite alternate;
      -moz-animation: swing_side_hand 1s infinite alternate;
      animation: swing_side_hand 1s infinite alternate;
      content: "";
      position: absolute;
      z-index: -1;
      top: 37%;
      left: 0%;
      background: url("../images/beauty/back_hand.svg");
      width: 102px;
      height: 97px; }
  .beauty .cnt4 .me {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-image: url("../images/beauty/side_me.svg");
    width: 193px;
    height: 453px; }
    .beauty .cnt4 .me::before {
      -webkit-animation: swing_side_hand 1s infinite alternate;
      -moz-animation: swing_side_hand 1s infinite alternate;
      animation: swing_side_hand 1s infinite alternate;
      content: "";
      position: absolute;
      z-index: -10;
      top: 38%;
      left: -15%;
      background: url("../images/beauty/side_hand.svg");
      width: 137px;
      height: 106px; }
    .beauty .cnt4 .me .wink {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
      position: absolute;
      top: 0%;
      left: 16%;
      -webkit-animation: wink 3s infinite;
      -moz-animation: wink 3s infinite;
      animation: wink 3s infinite; }
  .beauty .cnt4 .dog::before {
    -webkit-animation: swing_tail cubic-bezier(0.87, -0.6, 0.24, 1.21) 0.5s infinite alternate;
    -moz-animation: swing_tail cubic-bezier(0.87, -0.6, 0.24, 1.21) 0.5s infinite alternate;
    animation: swing_tail cubic-bezier(0.87, -0.6, 0.24, 1.21) 0.5s infinite alternate; }
  .beauty .cnt5 .txtbox {
    text-align: left;
    padding: 106px 7px 106px 61px; }
    .beauty .cnt5 .txtbox li {
      position: relative; }
      .beauty .cnt5 .txtbox li::before {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #7E725C; }
      .beauty .cnt5 .txtbox li:nth-child(4)::before, .beauty .cnt5 .txtbox li:nth-child(5)::before {
        top: 27%; }
      .beauty .cnt5 .txtbox li:nth-child(6)::before {
        top: 12%; }
  .beauty .cnt5 .me {
    background-image: url("../images/beauty/side_right_me.svg");
    width: 226px;
    height: 462px; }
    .beauty .cnt5 .me .wink {
      position: absolute;
      top: 0%;
      left: 71%;
      -webkit-animation: wink 3s infinite;
      -moz-animation: wink 3s infinite;
      animation: wink 3s infinite; }

.twosome_intro, .ikea_intro {
  position: relative;
  z-index: 0;
  background: linear-gradient(#282A64, #330428 90%);
  width: 100%;
  height: 100vh; }
  .twosome_intro .home, .ikea_intro .home {
    position: absolute; }
  .twosome_intro .bg, .ikea_intro .bg {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .twosome_intro .bg .mountain1, .twosome_intro .bg .mountain2, .twosome_intro .bg .mountain3, .ikea_intro .bg .mountain1, .ikea_intro .bg .mountain2, .ikea_intro .bg .mountain3 {
      position: absolute;
      left: 0;
      bottom: 0;
      background: no-repeat 50% / cover;
      width: 100%; }
    .twosome_intro .bg .mountain1, .ikea_intro .bg .mountain1 {
      background: url("../images/project/mountain1.svg");
      height: 900px;
      bottom: 0; }
    .twosome_intro .bg .mountain2, .ikea_intro .bg .mountain2 {
      background: url("../images/project/mountain2.svg");
      height: 712px; }
    .twosome_intro .bg .mountain3, .ikea_intro .bg .mountain3 {
      background: url("../images/project/mountain3.svg");
      height: 700px; }
  .twosome_intro .txt, .ikea_intro .txt {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;
    color: #EB981B;
    text-align: center;
    top: 50%;
    left: 50%;
    padding-top: 5%; }
  .twosome_intro #twosomeNotice, .twosome_intro #ikeaNotice, .ikea_intro #twosomeNotice, .ikea_intro #ikeaNotice {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 10%;
    left: 50%;
    background: #3E3653;
    border-radius: 30px;
    color: #fff;
    font-size: 20px; }

.introduce {
  font-family: Tourney;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  background: #1E1632; }
  .introduce section {
    padding: 200px 120px; }
  .introduce h2, .introduce h3 {
    font-family: TourneyItalic;
    font-weight: 300;
    font-size: 90px;
    color: #EB981B;
    line-height: 1.3; }
  .introduce .info h2, .introduce .info .info_cnt {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
  .introduce .info h2 {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .introduce .info_cnt {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 120px 280px; }
    .introduce .info_cnt li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 40px;
      color: #bcbcbc; }
      .introduce .info_cnt li p {
        font-size: 50px;
        color: #FFCE00; }
    .introduce .info_cnt li + li {
      padding-top: 50px; }
    .introduce .info_cnt .marginLeft1 {
      margin-left: 200px; }
      .introduce .info_cnt .marginLeft1 p span {
        position: relative; }
        .introduce .info_cnt .marginLeft1 p span::after {
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          position: absolute;
          width: 35px;
          height: 35px;
          top: 50%;
          left: -45px; }
      .introduce .info_cnt .marginLeft1 .color1.twosome {
        margin-left: 50px; }
        .introduce .info_cnt .marginLeft1 .color1.twosome::after {
          background: #54565a; }
      .introduce .info_cnt .marginLeft1 .color2.twosome {
        margin-left: 80px; }
        .introduce .info_cnt .marginLeft1 .color2.twosome::after {
          background: #d60037; }
      .introduce .info_cnt .marginLeft1 .color1.ikea {
        margin-left: 50px; }
        .introduce .info_cnt .marginLeft1 .color1.ikea::after {
          background: #F2CB05; }
      .introduce .info_cnt .marginLeft1 .color2.ikea {
        margin-left: 80px; }
        .introduce .info_cnt .marginLeft1 .color2.ikea::after {
          background: #0E4970; }
    .introduce .info_cnt .marginLeft2 {
      margin-left: 227px; }
    .introduce .info_cnt .marginLeft3 {
      margin-left: 422px; }
    .introduce .info_cnt .marginLeft4 {
      margin-left: 81px; }
  .introduce .link {
    display: block;
    width: 344px;
    height: 88px;
    border-radius: 44px;
    font-size: 40px;
    text-align: center;
    line-height: 2;
    transition: all 0.2s; }
  .introduce .card {
    position: relative;
    perspective: 2500px;
    margin-bottom: 100px;
    width: 1014px;
    height: 575px; }
    .introduce .card > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 1014px;
      height: 575px;
      transition: all 0.5s;
      backface-visibility: hidden;
      transition: transform 1s;
      transform-style: preserve-3d; }
      .introduce .card > div p {
        -webkit-transform: translate(-50%, -50%) translateZ(100px);
        -moz-transform: translate(-50%, -50%) translateZ(100px);
        transform: translate(-50%, -50%) translateZ(100px);
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 30%;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-family: NotoSansKR;
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        line-height: 2;
        backface-visibility: hidden;
        text-align: center; }
    .introduce .card .front {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    .introduce .card .back {
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
    .introduce .card:hover .front, .introduce .card.flip .front {
      transform: rotateY(180deg); }
    .introduce .card:hover .back, .introduce .card.flip .back {
      transform: rotateY(0deg); }
    .introduce .card .txt_yellow {
      color: #FFCE00; }
    .introduce .card .tit {
      font-size: 30px; }
  .introduce .hover {
    font-family: NotoSansKR;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    margin: 100px 0 20px 10px; }
  .introduce .main, .introduce .sub1, .introduce .sub2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .introduce .main .fixed, .introduce .sub1 .fixed, .introduce .sub2 .fixed {
      position: sticky;
      top: 0;
      left: 0; }
      .introduce .main .fixed .part, .introduce .sub1 .fixed .part, .introduce .sub2 .fixed .part {
        font-family: NotoSansKR;
        font-weight: 500;
        color: #bcbcbc;
        line-height: 80px; }
      .introduce .main .fixed .view_site.link, .introduce .sub1 .fixed .view_site.link, .introduce .sub2 .fixed .view_site.link {
        border: 3px solid #b842ac;
        color: #b842ac;
        margin-top: 293px; }
        .introduce .main .fixed .view_site.link:hover, .introduce .main .fixed .view_site.link:focus, .introduce .sub1 .fixed .view_site.link:hover, .introduce .sub1 .fixed .view_site.link:focus, .introduce .sub2 .fixed .view_site.link:hover, .introduce .sub2 .fixed .view_site.link:focus {
          color: #fff;
          background: #b842ac; }
    .introduce .main .screen_wrap div + div, .introduce .sub1 .screen_wrap div + div, .introduce .sub2 .screen_wrap div + div {
      margin-top: 100px; }
    .introduce .main .screenBig, .introduce .sub1 .screenBig, .introduce .sub2 .screenBig {
      overflow: hidden;
      border-radius: 34px;
      width: 1014px;
      height: 700px; }
    .introduce .main .screen, .introduce .sub1 .screen, .introduce .sub2 .screen {
      overflow: hidden;
      width: 1014px;
      border-radius: 34px; }
    .introduce .main .img1, .introduce .sub1 .img1, .introduce .sub2 .img1 {
      -webkit-animation: move_screen 20s ease 1s infinite backwards;
      -moz-animation: move_screen 20s ease 1s infinite backwards;
      animation: move_screen 20s ease 1s infinite backwards;
      background: no-repeat 50% 0 / cover;
      width: 1014px;
      height: 2500px; }
@-webkit-keyframes move_screen {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  100% {
    transform: translateY(0); } }
@-moz-keyframes move_screen {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  100% {
    transform: translateY(0); } }
@keyframes move_screen {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes move_screen_long {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  80% {
    transform: translateY(-2160px); }
  100% {
    transform: translateY(0); } }
@-moz-keyframes move_screen_long {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  80% {
    transform: translateY(-2160px); }
  100% {
    transform: translateY(0); } }
@keyframes move_screen_long {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  80% {
    transform: translateY(-2160px); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes move_screen_ikea {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  80% {
    transform: translateY(-2460px); }
  100% {
    transform: translateY(0); } }
@-moz-keyframes move_screen_ikea {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  80% {
    transform: translateY(-2460px); }
  100% {
    transform: translateY(0); } }
@keyframes move_screen_ikea {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-625px); }
  40% {
    transform: translateY(-1250px); }
  60% {
    transform: translateY(-1800px); }
  80% {
    transform: translateY(-2460px); }
  100% {
    transform: translateY(0); } }
  .introduce .main {
    position: relative; }
    .introduce .main .screenBig .img1 {
      background-image: url("../images/project/twosome_index.jpg"); }
    .introduce .main .screenBig .img1.ikeaPC {
      -webkit-animation: move_screen_ikea 20s ease 1s infinite backwards;
      -moz-animation: move_screen_ikea 20s ease 1s infinite backwards;
      animation: move_screen_ikea 20s ease 1s infinite backwards;
      background-image: url("../images/project/ikea_PC.jpg");
      height: 3160px; }
    .introduce .main .screen .img2 {
      background: url("../images/project/twosome_index.jpg") left 0 top 63%/cover;
      height: 530px; }
    .introduce .main .screen .img3 {
      background: url("../images/project/twosome_index.jpg") left 0 bottom 0/cover;
      height: 575px; }
    .introduce .main .screen .img2.ikeaPC {
      background: url("../images/project/ikea_PC.jpg") left 0 top 25%/cover;
      height: 530px; }
    .introduce .main .screen .img3.ikeaPC {
      background: url("../images/project/ikea_PC.jpg") left 0 top 63%/cover;
      height: 575px; }
    .introduce .main .screen .img4 {
      background: url("../images/project/ikea_PC.jpg") left 0 top 87%/cover;
      height: 575px; }
  .introduce .sub1 .screenBig .img1 {
    -webkit-animation: move_screen_long 20s ease 1s infinite backwards;
    -moz-animation: move_screen_long 20s ease 1s infinite backwards;
    animation: move_screen_long 20s ease 1s infinite backwards;
    background-image: url("../images/project/twosome_coffStory.jpg");
    height: 2870px; }
  .introduce .sub1 .screen .img2 {
    background: url("../images/project/twosome_coffStory.jpg") left 0 top 86%/cover;
    height: 760px; }
  .introduce .sub2 .screenBig .img1 {
    background-image: url("../images/project/twosome_menu.jpg"); }
  .introduce .sub2 .screen .img2 {
    background: url("../images/project/twosome_menu.jpg") left 0 top 19%/cover;
    height: 617px; }
  .introduce .sub2 .img2.ikeaTb {
    background: url("../images/project/ikea_tablet.jpg") left 0 top 6%/cover;
    height: 617px; }
  .introduce .sub2 .img3.ikeaTb {
    background: url("../images/project/ikea_tablet.jpg") left 0 top 17%/cover;
    height: 617px; }
  .introduce .sub2 iframe {
    margin-left: 300px;
    border-radius: 34px; }
  .introduce .btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 100px; }
    .introduce .btn .btn_prev.link, .introduce .btn .btn_next.link {
      border: 3px solid #EB981B;
      color: #EB981B; }
      .introduce .btn .btn_prev.link:hover, .introduce .btn .btn_prev.link:focus, .introduce .btn .btn_next.link:hover, .introduce .btn .btn_next.link:focus {
        color: #fff;
        background: #EB981B; }
    .introduce .btn .btn_top {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      bottom: 0;
      right: -380px;
      background: url("../images/project/arrow_top.svg");
      width: 39px;
      height: 39px; }
    .introduce .btn #btnClose {
      position: absolute;
      bottom: 24px;
      right: -300px;
      font-size: 20px;
      color: #bcbcbc; }

.bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #3E3653;
  font-size: 20px; }
  .bottom #clock {
    font-family: Tourney;
    font-weight: 300;
    color: #fff;
    width: 20%;
    line-height: 30px;
    text-align: center;
    padding-top: 10px; }
  .bottom .copyright {
    font-family: NotoSansKR;
    font-weight: 400;
    text-align: right;
    padding-right: 70px;
    box-sizing: border-box; }

/*# sourceMappingURL=sub.css.map */
